<div class="container has-text-centered">
  <h1 class="title is-size-1-desktop">
    Hello!!
  </h1>
</div>
        {{!-- <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">Profile</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}} --}}
